{{template "header"  .}}
<div class="px-6">
    <h1 class ="py-4 text-4x1 semibold tracking-tight">Contact Page</h1>
    <p class="type-gray-800">
        To get in touch, email me at 
        <a class="underline" href="www.baidu.com">baidu</a>.
    </p>
</div>
{{template "footer"  .}}